html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: url(../images/bg-3-dark.jpg) no-repeat center top;
    background-size: cover;
}

footer {
    margin-top: auto;
    padding: 5px;
    text-align: center;
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    font-size: .7em;
    letter-spacing: .07em;
    color: rgb(228, 220, 174);
}

@font-face {
    font-family: 'star_jediregular';
    src: url('../fontface/starjedi-webfont.woff2') format('woff2'),
        url('../fontface/starjedi-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


h1 {
    font-family: 'star_jediregular', Orbitron;
    font-weight: 900;
    font-size: 3em;
    color: rgba(255, 255, 255, 0);
    /* background: rgba(0, 0, 0, 0.637); */
    letter-spacing: .05em;
    text-align: center;
    -webkit-text-stroke: 1px yellow;
    margin: 0 auto;
    padding: 15px 0 20px;
    width: 100%;
}

h2 {
    font-family: 'star_jediregular';
    color: #ebf8ff;
    padding: 20px;
    margin: 0;
    text-shadow: 1px 1px 13px rgb(14, 118, 255), 0 0 25px rgb(29, 153, 255), 0 0 5px rgb(38, 139, 255);
    /* text-shadow: 1px 1px 13px rgb(255, 14, 14), 0 0 25px rgb(255, 74, 29), 0 0 5px rgb(255, 38, 38); */
    letter-spacing: .08em;
    font-size: 2em;
}

.pick-avatars {
    max-width: 1000px;
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#choose-player {
    width: 1000px;
    max-width: 95%;
    display: flex;
    justify-content: center;
}

article {
    background-color: rgba(255, 255, 255, 0.9);
    text-align: center;
    margin: 0 10px;
    padding: 10px;
    font-family: Orbitron, 'Helvetica Neue', Helvetica, sans-serif;
    border-radius: 4px;
    max-width: 200px;
    transition-duration: 300ms;
    box-shadow: 0px 2px 5px #000000;
    cursor: pointer;
}


article h4 {
    margin: 0 0 5px;
}

article p {
    margin: 5px 0 0;
}

article img {
    max-width: 170px;
    border: 1px solid rgb(189, 189, 189);
    border-radius: 10px;
}

.arena {
    max-width: 850px;
    width: 95%;
    margin: 40px auto 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#attacker-zone,
#defender-zone {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 300px;
    width: 300px;
    border-radius: 15px;
    padding: 15px;
    ;
}

#attacker-zone {
    background: rgba(3, 17, 34, 0.76);
    box-shadow: 1px 1px 17px rgb(14, 118, 255), 0 0 25px rgb(29, 153, 255), 0 0 5px rgb(38, 139, 255);
}

#defender-zone {
    background: rgba(37, 2, 2, 0.76);
    box-shadow: 1px 1px 17px rgb(255, 23, 23), 0 0 25px rgb(158, 53, 20), 0 0 5px rgb(255, 38, 67);
}

#attacker-zone div,
#defender-zone div {
    height: 65px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.56);
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    width: 100%;
    font-size: .8em;
    display: flex;
    text-transform: uppercase;
    font-weight: 600;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    letter-spacing: .03em;
    margin-top: 25px;
}

#attacker-zone div {
    color: rgb(231, 231, 231);
    border: solid 1px rgb(86, 193, 255);
}

#defender-zone div {
    color: rgb(231, 231, 231);
    border: solid 1px rgb(255, 86, 86);
}

#attacker-zone div p,
#defender-zone div p {
    margin: 0;
    padding: 0;
    text-align: center;

}

#hit-zone {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    background: rgba(0, 0, 0, 0.729);
    border-radius: 5px;
    padding: 15px 35px;
    font-family: 'star_jediregular', Orbitron;
    letter-spacing: .07em;
    text-transform: uppercase;
    font-weight: 600;
    color: yellow;
    border: 1px solid yellow;
    cursor: pointer;
    transition-duration: 400ms;
}

button:focus,
button:hover {
    box-shadow: 1px 1px 5px rgb(255, 251, 23), 0 0 25px rgb(218, 171, 43), 0 0 5px rgb(226, 198, 38);
}